@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
  --main-font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --playfair-font: 'Playfair Display', serif;
  --orange-color: #f2994a;
  --font-color: #333;
  --dark-gray-color: #4f4f4f;
  --footer-color: #828282;
  --gray-color: #bdbdbd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color: var(--font-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  overflow-x: hidden;
  padding: 1rem;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.f-w-500 {
  font-weight: 500;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin: 1rem 0;
}

.main__header {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.main__title {
  font-family: var(--playfair-font);
}

.dots {
  flex: 1 1 auto;
}

.dots img {
  width: 1rem;
}

.header__desc {
  display: flex;
  flex-flow: row nowrap;
  color: var(--dark-gray-color);
  font-size: 14px;
  gap: 1rem;
}

.header__desc p {
  margin: 0;
}

.main__container {
  margin: 1rem 0;
}

.aside__container {
  display: flex;
  flex-flow: column wrap;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.aside__item {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.aside__item.first {
  color: var(--orange-color);
}

.item__text {
  display: flex;
  flex-flow: column nowrap;
}

.item__name {
  color: var(--gray-color);
}

.list__title {
  font-family: var(--playfair-font);
  font-weight: 400;
}

.list {
  list-style: none;
  padding: 0;
  font-weight: 400;
}

.list li {
  margin: 0.75rem 0;
}

.list__item {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: auto 1fr;
}

.number {
  align-items: flex-start;
  background-color: var(--orange-color);
  border-radius: 0.25rem;
  color: #fff;
  display: flex;
  font-family: var(--playfair-font);
  font-size: 2rem;
  font-weight: 700;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.source {
  margin: 2rem 0;
}

.source, 
.source a {
  color: var(--gray-color);
}

.source a:hover {
  text-decoration: underline;
}

.main__footer {
  text-align: center;
}

.main__footer, 
.main__footer a {
  color: var(--footer-color);
}

.main__footer p {
  margin-top: 3rem;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .main__container {
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 1rem;
  }

  .main__content {
    flex: 1 1 auto;
  }

  .aside__item i {
    font-size: 2rem;
  }

  .row {
    flex-flow: column nowrap;
  }

  .aside__container {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    flex: 1 0 auto;
    height: fit-content;
    padding: 3rem;
  }
}
